<% content_for :title do %>Code4SA Dashboard<% end %>

<div class="gridster">
  <ul>
<% for website in websites %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="<%=website.id %>" data-view="Rickshawgraph" data-title="<%=website.title %>" data-default-alpha="0.3" data-max="75" style="background-color: #b3cde3"></div>
    </li>
<% end %>
  </ul>
</div>
